<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>
  
  <div class="form-group">
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title, id: :badge_title, autofocus: true, autocomplete: "title", class: 'form-control', placeholder: "Badge 1" %>
    </p><br>

    <p>
      <%= form.label :image %><br>
      <%= form.text_field :image, id: :badge_image, autofocus: true, autocomplete: "image", class: 'form-control' %>
    </p><br>

    <p>
      <%= form.label :type %><br>
      <%= form.select :rule_type, Badge::TYPE_BADGES.map  { |type| [ t(type), type ] }, class: "type_selector"  %>
    </p>

    <div class="badge_options">
      <p>
        <%= form.label :rule_attribute_value %><br>
        <%= form.text_field :rule_attribute_value, id: :badge_rule_attribute_value, autofocus: true, class: 'form-control badge-options' %>
      </p><br>      
    </div>

    <p><%= form.submit class: 'btn btn-primary mt-1' %></p>
  </div>
<% end %>
