<h1><%= t('.header', title: @test_passage.test.title) %></h1>

<p>
<%= result_title(@test_passage) %>
</p>
<p style="color:<%= result_color(@test_passage) %>">
<%= result_text(@test_passage) %>
<p>

<p><%= link_to t('.back'), tests_path%> </p>
