<%= form_with model: [:admin, @question, @answer], local: true do |form| %>
  <%= render 'shared/errors', resource: @answer %>

<p>
  <%= form.text_area :body, id: :answer_body, rows: 7, cols: 60 %>
</p>
  
<p>
  <div class="form-check">
    <%= form.label :correct, class: 'form-check-label' do %>
      <%= form.check_box :correct, id: :answer_correct, class: 'form-check-input' %>
      <%= t('.correct')%>
    <% end %>
  </div>
</p>

<p><%= form.submit class: 'btn btn-primary mt-1' %></p>
<% end %>
