<h1> <%= question_header(@question) %></h1>
<%= form_with model: [:admin, @test, @question], local: true do |form| %>
  <%= render 'shared/errors', resource: @question %>

  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body, id: :question_body, autofocus: true, autocomplete: "body", class: 'form-control', placeholder: "Enter your question" %>
  </p><br>

  <p><%= form.submit class: 'btn btn-primary mt-1' %></p>
<% end %>
