<tr>
  <td class="align-middle">
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="align-middle"><%= test_level(test) %></td>
  <td class="align-middle"><%= test.questions.count %></td>
  <td class="align-middle"><%= link_to t('show', scope: 'helpers.submit'), admin_test_path(test), class: 'btn btn-outline-primary mt-1' %></td>
  <td class="align-middle">
    <%= link_to t('edit', scope: 'helpers.submit'), 
                edit_admin_test_path(test),
                data: { test_id: test.id }, 
                class: 'btn btn-outline-primary mt-1 form-inline-link' %>
  </td>
  <td class="align-middle">
    <%= link_to t('delete', scope: 'helpers.submit'),
                admin_test_path(test),
                method: :delete,
                data: { confirm: t('.delete_confirmation') },
                class: 'btn btn-outline-primary mt-1' %>
  </td>
</tr>
