<p>
  <strong><%= t('.title') %></strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level') %></strong>
  <%= @test.level %>
</p>

<p>
  <strong><%= t('.questions') %></strong>
  <table>  
  <%= render @test.questions %>
  </table>
</p>

<%= link_to t('.new_question'), new_admin_test_question_path(@test) %>
<%= link_to t('.edit'), edit_admin_test_path(@test) %>
<%= link_to t('.back'), admin_tests_path%>
