<div class="row justify-content-left mt-3">
  <div class="form-group">
    <p>
      <strong><%= t('.title') %></strong>
      <%= @test.title %>
    </p>

    <p>
      <strong><%= t('.level') %></strong>
      <%= @test.level %>
    </p>

    <p>
      <strong><%= t('.questions') %></strong>
      <table class="table">  
      <%= render @test.questions %>
      </table>
    </p>

    <%= link_to t('.new_question'), new_admin_test_question_path(@test), class: 'btn btn-primary mt-1' %>
    <%= link_to t('edit', scope: 'helpers.submit'), edit_admin_test_path(@test), class: 'btn btn-primary mt-1' %>
    <%= link_to t('back', scope: 'helpers.submit'), admin_tests_path, class: 'btn btn-primary mt-1' %>
  </div>
</div>
