<h2><%= t('.header') %></h2>
  <table class="table">
    <tr>
      <th class="sort-by-title pointer">
        <%= t('.badge') %>
        <%= octicon 'arrow-up', class: 'text-success hide'%>
        <%= octicon 'arrow-down', class: 'text-success hide'%>
      </th>
      <th><%= t('.award_date') %></th>
    </tr>
    <%= render @badge_rewards %>
  </table>
