<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <p class="nav_user">
      Welcome, <%= current_user.first_name %> <%= current_user.last_name %> <b> Guru |
      <%= link_to 'Logout', destroy_user_session_path, method: :delete%>
      </p>
    <% else %>
      <p class="nav guest"> <b> <%= link_to 'Test Guru', tests_path, method: :get %> <b> </p>
      <p class="nav guest"> <%= link_to 'Sign in', new_user_session_path, method: :get %> / <%=link_to 'Registration', new_user_registration_path, method: :get%> </p>
    <% end %>

    <%= render 'shared/flash' %>
    
    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
